.dashboard-list {
    list-style: none;
    margin: 10px;
}

.dashboard-list-item {
    padding: 4px 12px;
    border-bottom: 1px solid #e2e2e2;
}

.organisation-btns {
    margin: 10px;
}

.btn-container {
    display: inline-block;
    margin-right: 10px;
}

.btn {
    padding: 5px;
    border-radius: 2px;
    background-color: #e1e1e1;
    color: #000000;
    text-align: center;
}
