div.organisation-btns
  div(ng-repeat="organisation in ctrl.organisationList track by $index").btn-container
    a(ng-href="/profile/switch-org/{{ organisation.id }}" target="_self").btn {{ organisation.name }}
